In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [25]:
df = pd.read_csv("data/weather_data.csv",parse_dates=["day"])
df2 = df.copy()
df

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
1 2017-01-04          NaN        9.0   Sunny
2 2017-01-05         28.0        NaN    Snow
3 2017-01-06          NaN        7.0     NaN
4 2017-01-07         32.0        NaN    Rain
5 2017-01-08          NaN        NaN   Sunny
6 2017-01-09          NaN        NaN     NaN
7 2017-01-10         34.0        8.0  Cloudy
8 2017-01-11         40.0       12.0   Sunny

In [26]:
# Number of missing values in the dataframe
df.isnull().sum()

day            0
temperature    4
windspeed      4
event          2
dtype: int64

## Handling_Missing_Values

### 1. Removing Rows with missing Data

* dropna()

In [27]:
# e.g Lets drop rows with missing temperature values
df.dropna(subset=["temperature"],inplace=True)
df

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
2 2017-01-05         28.0        NaN    Snow
4 2017-01-07         32.0        NaN    Rain
7 2017-01-10         34.0        8.0  Cloudy
8 2017-01-11         40.0       12.0   Sunny

In [34]:
# Drop all rows containg NaN 
df.dropna(inplace=True)
df

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
7 2017-01-10         34.0        8.0  Cloudy
8 2017-01-11         40.0       12.0   Sunny

In [35]:
# If NaN still exists, it is still okay

# Split into X and y
# and then into train set and test set
# the, fill up train set and test set separetly