In [38]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [39]:
def read_data():
    df = pd.read_csv("data/car-sales-extended-missing-data.csv")
    return df

# to change index of dataframe --> use reindex(d)

In [40]:
df = read_data()
df

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [41]:
df.dtypes

Make              object
Colour            object
Odometer (KM)    float64
Doors            float64
Price            float64
dtype: object

In [42]:
# Check how many data is present in the dataframe
len(df)

1000

In [43]:
# Number of missing values in the dataframe
df.isnull().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

#### Then Split data into train and test set, and then fill them out seperately

## Handling Missing Values

### 4. Filling rows with missing data - SimpleImputer()

* SimpleImputer() is provided by Scikit-Learn Library

In [44]:
# Remove rows with missing Price Values --> as price is y
df.dropna(subset=["Price"],inplace=True)

df.isnull().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
Price             0
dtype: int64

In [45]:
X = df.drop('Price',axis=1)
y = df['Price']

In [46]:
from sklearn.model_selection import train_test_split

np.random.seed(42)

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [47]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((760, 4), (190, 4), (760,), (190,))

In [48]:
# Check missing values in X (both train and test dataset)
X.isna().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
dtype: int64

Let's fill the missing values. We'll fill the training and test values separately to ensure training data stays with the training data and test data stays with the test data.

Note: We use fit_transform() on the training data and transform() on the testing data. 

In essence, we learn the patterns in the training set and transform it via imputation (fit, then transform). Then we take those same patterns and fill the test set (transform only).

In [49]:
# Fill missing values with Scikit-Learn

from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

# Fill categorical values with "missing" and numerical values with mean
# Imputation --> Find the missing values and fill them
# Define some imputers

# strategy="constant" = go to the categorical columns, if u find a missing value, 
# constantly fill them with the string missing, or mean or a default value

cat_imputer = SimpleImputer(strategy="constant",fill_value="missing")
door_imputer = SimpleImputer(strategy="constant",fill_value=4)
num_imputer = SimpleImputer(strategy="mean")

# Define columns
cat_features = ["Make","Colour"] # nominal category column in dataframe
door_features = ["Doors"] # a category column
num_features = ["Odometer (KM)"] # numerical column

# Create an imputer (something that fills missing data)
# pass in the imputations (all the different transformations to do)

# Takes a list and tuples within exists multiple different transformers
imputer = ColumnTransformer([
    # name, imputer to use, features on which to use the imputer
    ("cat_imputer",cat_imputer,cat_features),
    ("door_imputer",door_imputer,door_features),
    ("num_imputer",num_imputer,num_features)
])

# Transform data
# Fill train and test values separately
filled_X_train = imputer.fit_transform(X_train) # fit_transform imputes the missing values from the training set and fills them simultaneously
filled_X_test = imputer.transform(X_test) # tranform takes the imputing missing values from the training set and fills the test set with them

In [50]:
# Check filled X_train
filled_X_train

array([['Honda', 'White', 4.0, 71934.0],
       ['Toyota', 'Red', 4.0, 162665.0],
       ['Honda', 'White', 4.0, 42844.0],
       ...,
       ['Toyota', 'White', 4.0, 196225.0],
       ['Honda', 'Blue', 4.0, 133117.0],
       ['Honda', 'missing', 4.0, 150582.0]], dtype=object)

In [51]:
# Check filled X_test
filled_X_test

array([['Toyota', 'Blue', 4.0, 99761.0],
       ['Toyota', 'Black', 4.0, 17975.0],
       ['Honda', 'Blue', 4.0, 197664.0],
       ['Nissan', 'Green', 4.0, 235589.0],
       ['Honda', 'Black', 4.0, 231659.0],
       ['Toyota', 'Blue', 4.0, 247601.0],
       ['Toyota', 'Green', 4.0, 110078.0],
       ['missing', 'White', 4.0, 155383.0],
       ['Nissan', 'White', 4.0, 26634.0],
       ['Honda', 'White', 4.0, 130319.03314917127],
       ['Honda', 'Green', 4.0, 238825.0],
       ['Honda', 'Green', 4.0, 37606.0],
       ['Toyota', 'Blue', 4.0, 230908.0],
       ['Toyota', 'Red', 4.0, 159925.0],
       ['Toyota', 'Blue', 4.0, 181466.0],
       ['Toyota', 'Blue', 4.0, 140465.0],
       ['Toyota', 'White', 4.0, 146307.0],
       ['Toyota', 'Green', 4.0, 214179.0],
       ['Honda', 'White', 4.0, 184869.0],
       ['Toyota', 'Black', 4.0, 224986.0],
       ['Nissan', 'White', 3.0, 176135.0],
       ['Nissan', 'Red', 4.0, 130319.03314917127],
       ['Toyota', 'Blue', 4.0, 112223.0],
       ['BMW', 'missing', 5.0, 206446.0],
       ['Honda', 'Green', 4.0, 130075.0],
       ['Nissan', 'Green', 4.0, 87701.0],
       ['Honda', 'Red', 4.0, 16079.0],
       ['Toyota', 'White', 4.0, 172018.0],
       ['Nissan', 'White', 4.0, 19265.0],
       ['Nissan', 'Blue', 4.0, 34024.0],
       ['Honda', 'White', 4.0, 56534.0],
       ['Toyota', 'White', 4.0, 22257.0],
       ['Toyota', 'missing', 4.0, 192890.0],
       ['Toyota', 'Green', 4.0, 130319.03314917127],
       ['Toyota', 'Black', 4.0, 93054.0],
       ['Honda', 'Blue', 4.0, 31677.0],
       ['Toyota', 'Blue', 4.0, 222542.0],
       ['Nissan', 'Blue', 4.0, 179666.0],
       ['Toyota', 'Black', 4.0, 86696.0],
       ['Toyota', 'Blue', 4.0, 240627.0],
       ['Toyota', 'Green', 4.0, 109868.0],
       ['Toyota', 'White', 4.0, 119439.0],
       ['Toyota', 'Blue', 4.0, 85473.0],
       ['Nissan', 'White', 4.0, 82429.0],
       ['Nissan', 'Blue', 4.0, 130319.03314917127],
       ['missing', 'Blue', 4.0, 179468.0],
       ['Toyota', 'White', 4.0, 216647.0],
       ['Honda', 'Black', 4.0, 237861.0],
       ['Nissan', 'White', 4.0, 123121.0],
       ['Honda', 'Blue', 4.0, 50417.0],
       ['Toyota', 'Blue', 4.0, 229110.0],
       ['Toyota', 'Blue', 4.0, 29856.0],
       ['Nissan', 'White', 4.0, 43540.0],
       ['Nissan', 'Black', 4.0, 239908.0],
       ['missing', 'White', 4.0, 103728.0],
       ['missing', 'White', 4.0, 138294.0],
       ['Nissan', 'Red', 4.0, 124112.0],
       ['Nissan', 'Red', 4.0, 166895.0],
       ['Nissan', 'White', 3.0, 130319.03314917127],
       ['Toyota', 'White', 4.0, 177571.0],
       ['Toyota', 'White', 4.0, 227387.0],
       ['Toyota', 'White', 4.0, 130319.03314917127],
       ['Toyota', 'Red', 4.0, 157432.0],
       ['Honda', 'Blue', 4.0, 68223.0],
       ['Honda', 'Blue', 4.0, 84719.0],
       ['Honda', 'Green', 4.0, 47019.0],
       ['Toyota', 'Black', 4.0, 201753.0],
       ['missing', 'Blue', 4.0, 96363.0],
       ['Nissan', 'White', 4.0, 48730.0],
       ['Honda', 'Green', 4.0, 94062.0],
       ['Honda', 'Red', 4.0, 111727.0],
       ['missing', 'Blue', 4.0, 73926.0],
       ['Nissan', 'Red', 4.0, 61892.0],
       ['Nissan', 'Blue', 4.0, 124116.0],
       ['Nissan', 'Blue', 4.0, 111256.0],
       ['missing', 'Blue', 4.0, 216250.0],
       ['missing', 'Black', 4.0, 189001.0],
       ['Honda', 'White', 4.0, 134949.0],
       ['BMW', 'White', 5.0, 29534.0],
       ['Toyota', 'White', 4.0, 110362.0],
       ['Honda', 'White', 4.0, 148238.0],
       ['Toyota', 'Blue', 4.0, 193276.0],
       ['Toyota', 'Green', 4.0, 132714.0],
       ['Toyota', 'Blue', 4.0, 23241.0],
       ['Toyota', 'Red', 4.0, 190211.0],
       ['Toyota', 'White', 4.0, 112968.0],
       ['Nissan', 'White', 4.0, 192747.0],
       ['Honda', 'missing', 4.0, 118609.0],
       ['Toyota', 'Blue', 4.0, 63975.0],
       ['Honda', 'White', 4.0, 56523.0],
       ['Honda', 'Green', 4.0, 130319.03314917127],
       ['Honda', 'White', 4.0, 214405.0],
       ['Toyota', 'Green', 4.0, 221725.0],
       ['Honda', 'Blue', 4.0, 196835.0],
       ['Honda', 'Red', 4.0, 47933.0],
       ['Honda', 'White', 4.0, 219635.0],
       ['Honda', 'White', 4.0, 130319.03314917127],
       ['Nissan', 'Blue', 4.0, 189182.0],
       ['Toyota', 'Blue', 4.0, 213893.0],
       ['Toyota', 'Black', 4.0, 35820.0],
       ['BMW', 'Red', 5.0, 131587.0],
       ['Honda', 'White', 4.0, 178134.0],
       ['Honda', 'missing', 4.0, 130319.03314917127],
       ['Honda', 'Red', 4.0, 98523.0],
       ['BMW', 'White', 5.0, 23996.0],
       ['Toyota', 'White', 4.0, 239760.0],
       ['Toyota', 'White', 4.0, 183368.0],
       ['Toyota', 'White', 4.0, 134862.0],
       ['Honda', 'Green', 4.0, 81764.0],
       ['Toyota', 'Green', 4.0, 151291.0],
       ['BMW', 'Blue', 3.0, 130817.0],
       ['Honda', 'Green', 4.0, 208651.0],
       ['Nissan', 'missing', 4.0, 206073.0],
       ['Toyota', 'White', 4.0, 164093.0],
       ['Honda', 'Blue', 4.0, 130319.03314917127],
       ['Honda', 'White', 4.0, 136340.0],
       ['Honda', 'Blue', 4.0, 217068.0],
       ['Toyota', 'Red', 4.0, 148518.0],
       ['Honda', 'White', 4.0, 29514.0],
       ['Toyota', 'White', 4.0, 72118.0],
       ['BMW', 'Red', 5.0, 208124.0],
       ['Honda', 'White', 4.0, 171260.0],
       ['BMW', 'Black', 5.0, 204746.0],
       ['missing', 'missing', 4.0, 61876.0],
       ['Honda', 'White', 4.0, 28791.0],
       ['Honda', 'Black', 4.0, 61120.0],
       ['Toyota', 'Black', 4.0, 121160.0],
       ['Toyota', 'Blue', 4.0, 223390.0],
       ['missing', 'White', 3.0, 133069.0],
       ['Toyota', 'White', 4.0, 46848.0],
       ['Toyota', 'Red', 4.0, 86284.0],
       ['Toyota', 'White', 4.0, 231683.0],
       ['Toyota', 'Black', 4.0, 71463.0],
       ['BMW', 'Black', 5.0, 181572.0],
       ['Toyota', 'White', 4.0, 221050.0],
       ['Honda', 'White', 4.0, 192655.0],
       ['Toyota', 'Blue', 4.0, 200597.0],
       ['Toyota', 'Green', 4.0, 180760.0],
       ['BMW', 'White', 5.0, 102773.0],
       ['Honda', 'White', 4.0, 25729.0],
       ['Honda', 'White', 4.0, 237209.0],
       ['missing', 'Blue', 4.0, 23545.0],
       ['BMW', 'Blue', 5.0, 31277.0],
       ['BMW', 'White', 5.0, 26531.0],
       ['Honda', 'White', 4.0, 82518.0],
       ['Honda', 'White', 4.0, 152212.0],
       ['Toyota', 'Red', 4.0, 133195.0],
       ['Toyota', 'Blue', 4.0, 232912.0],
       ['Toyota', 'White', 4.0, 124205.0],
       ['Honda', 'missing', 4.0, 144093.0],
       ['Toyota', 'Black', 4.0, 72287.0],
       ['Honda', 'Blue', 4.0, 78153.0],
       ['Toyota', 'Blue', 4.0, 89641.0],
       ['Honda', 'missing', 4.0, 213793.0],
       ['Nissan', 'Green', 3.0, 76610.0],
       ['Toyota', 'White', 4.0, 81656.0],
       ['Nissan', 'White', 3.0, 130319.03314917127],
       ['Toyota', 'Blue', 4.0, 238425.0],
       ['missing', 'Black', 4.0, 224479.0],
       ['BMW', 'Red', 5.0, 156064.0],
       ['Honda', 'Black', 4.0, 27788.0],
       ['Honda', 'White', 4.0, 130319.03314917127],
       ['Toyota', 'Red', 4.0, 49807.0],
       ['Honda', 'White', 4.0, 113704.0],
       ['Toyota', 'White', 4.0, 149989.0],
       ['BMW', 'White', 5.0, 178796.0],
       ['Honda', 'White', 4.0, 21393.0],
       ['Honda', 'Black', 4.0, 143649.0],
       ['Honda', 'White', 4.0, 34822.0],
       ['Honda', 'White', 4.0, 136279.0],
       ['BMW', 'Blue', 5.0, 212644.0],
       ['Toyota', 'White', 4.0, 223727.0],
       ['Nissan', 'White', 4.0, 24420.0],
       ['Honda', 'White', 4.0, 161712.0],
       ['Toyota', 'Blue', 4.0, 165301.0],
       ['Honda', 'Black', 4.0, 119033.0],
       ['Toyota', 'Black', 4.0, 86333.0],
       ['Toyota', 'White', 4.0, 69222.0],
       ['BMW', 'White', 5.0, 69066.0],
       ['Honda', 'White', 4.0, 178351.0],
       ['Nissan', 'White', 3.0, 213449.0],
       ['Nissan', 'Red', 3.0, 196130.0],
       ['BMW', 'White', 5.0, 85739.0],
       ['BMW', 'Blue', 3.0, 163322.0],
       ['Nissan', 'White', 4.0, 195056.0],
       ['Honda', 'Green', 4.0, 165101.0],
       ['Nissan', 'Green', 3.0, 153554.0],
       ['Toyota', 'White', 4.0, 108569.0],
       ['BMW', 'Black', 3.0, 201190.0],
       ['Honda', 'White', 4.0, 61163.0]], dtype=object)

In [52]:
# Get our transformed data array's back into DataFrame's
train_df = pd.DataFrame(filled_X_train, 
                                      columns=["Make", "Colour", "Doors", "Odometer (KM)"])

test_df = pd.DataFrame(filled_X_test, 
                                     columns=["Make", "Colour", "Doors", "Odometer (KM)"])

In [53]:
train_df

       Make   Colour Doors Odometer (KM)
0     Honda    White   4.0       71934.0
1    Toyota      Red   4.0      162665.0
2     Honda    White   4.0       42844.0
3     Honda    White   4.0      195829.0
4     Honda     Blue   4.0      219217.0
..      ...      ...   ...           ...
755  Toyota  missing   4.0      218803.0
756     BMW     Blue   5.0      245427.0
757  Toyota    White   4.0      196225.0
758   Honda     Blue   4.0      133117.0
759   Honda  missing   4.0      150582.0

[760 rows x 4 columns]

In [54]:
train_df.isnull().sum()

Make             0
Colour           0
Doors            0
Odometer (KM)    0
dtype: int64

In [55]:
test_df.isnull().sum()

Make             0
Colour           0
Doors            0
Odometer (KM)    0
dtype: int64

In [56]:
# No need to fill y_train and y_test as they don't have any missing values

#### Now that there are no missing values

#### Convert the data into numbers (numerical data) by One Hot Encoding